* {
    margin: 0%;
    padding: 0%;
}
body {
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.nav-btn {
    margin-top: 50px !important;
    background: black;
    text-decoration: none;
    color: #fff;
    border: none;
    position: relative;
    border-radius: 10px;
    height: 70px;
    font-size: 0.9em;
    padding: 0.5em 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.nav-btn:hover {
    background: #fff;
    color: black !important;
}
.nav-btn:before,
.nav-btn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: black;
    transition: 400ms ease all;
}
.nav-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.nav-btn:hover:before,
.nav-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
















//button styles
.button-main {
    background: black;
    color: #fff;
    border: none;
    position: relative;
    border-radius: 10px;
    height: 50px;
    font-size: 1em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}
.button-main:hover {
    background: #fff;
    color: black;
}
.button-main:before,
.button-main:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: black;
    transition: 400ms ease all;
}
.button-main:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.button-main:hover:before,
.button-main:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
